<div id="stacks_for_repo_<%= repo_config.id %>">
  <% repo_config.stacks.includes(:pull_requests).each do |stack| %>
    <div class="stack">
      <% stack.pull_requests.each do |pr| %>
        <div>#<%= pr.number %> <%= pr.title %> (<%= pr.author %>)</div>
      <% end %>
    </div>
  <% end %>
</div>
